<div class="md:p-4">
  <div class="mx-auto mt-10 w-[80%]">
    <div class="group w-[80%] mx-auto">
      <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
        <g>
          <path
            d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
          ></path>
        </g>
      </svg>
      <input
        (input)="searchUsers()"
        placeholder="Filter"
        type="number"
        class="input"
        [(ngModel)]="searchId"
      />
    </div>
  </div>

  <div class="w-[80%] overflow-auto mx-auto">
    <table
      mat-table
      [dataSource]="users.data"
      class="mat-elevation-z8 border w-[80%] mx-auto"
      matSort
    >
      <!-- Number Column -->
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
        <td
          (click)="openUserDetails(element.id)"
          mat-cell
          *matCellDef="let element"
        >
          {{ element.id }}
        </td>
      </ng-container>

      <!-- Avatar Column -->
      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Avatar</th>
        <td
          (click)="openUserDetails(element.id)"
          mat-cell
          *matCellDef="let element"
        >
          <img
            class="rounded-full w-[60px] h-[60px] p-2 object-cover"
            [src]="element.avatar"
            alt="photo"
          />
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td
          (click)="openUserDetails(element.id)"
          mat-cell
          *matCellDef="let element"
        >
          {{ element.first_name + " " + element.last_name }}
        </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td
          (click)="openUserDetails(element.id)"
          mat-cell
          *matCellDef="let element"
        >
          {{ element.email }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns; let i = index"
      ></tr>
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ searchId }}"
        </td>
      </tr>
    </table>
    <mat-paginator
      class="border rounded-md border-gray-400 text-white"
      [length]="users.totalUsers"
      [pageSizeOptions]="[users.perPage]"
      showFirstLastButtons
      (page)="onPageChange($event)"
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="line-scale"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
